<div class="container mt-4">
  <h2 class="mb-4 text-center">
    <i class="fas fa-shopping-cart me-2"></i>Your Cart
  </h2>
  <button class="btn btn-danger ms-auto" (click)="clearCart()">
    <i class="fas fa-trash me-1"></i>Clear Cart
  </button>

  <div *ngIf="cartItems.length > 0; else emptyCart">
    <h4 class="text-end">Total: ${{ total | number: "1.2-2" }}</h4>
    <div class="card mb-3" *ngFor="let item of cartItems; let i = index">
      <div class="row g-0 align-items-center">
        <div class="col-md-2" routerLink="/details/{{ item.id }}">
          <img [src]="item.image" class="img-fluid" />
        </div>

        <div class="col-md-4">
          <h5>{{ item.title }}</h5>
          <p>${{ item.price }}</p>
        </div>

        <div class="col-md-3 d-flex align-items-center">
          <button
            class="btn btn-sm btn-danger"
            (click)="decreaseQuantity(item)"
          >
            <i class="fas fa-minus"></i>
          </button>
          <span class="mx-2">{{ item.quantity }}</span>
          <button
            class="btn btn-sm btn-success"
            (click)="increaseQuantity(item)"
          >
            <i class="fas fa-plus"></i>
          </button>
        </div>

        <div class="col-md-2">
          <strong>${{ item.price * item.quantity }}</strong>
        </div>

        <div class="col-md-1">
          <button class="btn btn-danger btn-sm" (click)="removeItem(i)">
            <i class="fas fa-times"></i>
          </button>
        </div>
      </div>
    </div>
    <button class="btn btn-success w-100" (click)="placeOrder()">
      Order Now
    </button>
  </div>

  <ng-template #emptyCart>
    <p class="text-center fs-4 h-100 w-100">
      <i class="fas fa-shopping-cart text-muted me-2"></i>Your cart is empty
    </p>
  </ng-template>
  <div class="alert alert-success m-2" *ngIf="success">
    Order placed successfully
  </div>
</div>
