.card {
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.btn-danger {
  background: linear-gradient(45deg, #dc3545, #fd7e14);
  border: none;
}

.btn-success {
  background: linear-gradient(45deg, #28a745, #20c997);
  border: none;
}

h2 {
  color: #333;
}

h4 {
  color: #28a745;
  font-weight: 600;
}

h5 {
  color: #333;
}

.img-fluid {
  cursor: pointer;
  max-height: 100px;
  object-fit: cover;
}
